extends layout

block content

  #map-canvas
  #allsongs
  #footer
    #logo
    #social
      a(href="http://github.com/karan/Singular", target="_blank")
        span.fa.fa-github.share.sbg-github
      a(href="https://twitter.com/intent/tweet?text=Look+at+the+map+of+world's+sounds&amp;url=http://singular.goel.im&amp;via=KaranGoel", target="_blank")
        span.fa.fa-twitter.share.sbg-twitter
      a(href="", onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;", target="_blank")
        span.fa.fa-facebook.share.sbg-facebook
