extends layout

block content

  #map-canvas
  #allsongs
  #footer
    #logo
    #tagline
      span Mapping the World's Sounds
    #social
      a(href="#")
        span.fa.fa-question.share.sbg-help
      a(href="http://github.com/karan/Singular", target="_blank")
        span.fa.fa-github.share.sbg-github
      a(href="https://twitter.com/intent/tweet?text=Look+at+the+map+of+world's+sounds&amp;url=http://singular.goel.im&amp;via=KaranGoel", target="_blank")
        span.fa.fa-twitter.share.sbg-twitter
      a(href="", onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;", target="_blank")
        span.fa.fa-facebook.share.sbg-facebook
  .md-modal.md-effect
    .md-content
      h3 Singular - Mapping the World's Sounds
      p Realtime mapping of songs shared on Twitter.
      button.md-close Try Singular now
      .modal-footer
        | Project by 
        a(href='http://www.goel.im', target='_blank') Karan Goel
        | .
        br
        a(href='http://eepurl.com/SRIPT', target='_blank') Leave your e-mail here and stay tuned about my projects.
