doctype html
html(lang="en")
  head
    title= Singular
    meta(charset="utf-8")

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')

    // Scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//connect.soundcloud.com/sdk.js")
    script(src="//w.soundcloud.com/player/api.js")
    script(src="//cdn.socket.io/socket.io-1.0.6.js")
    script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
    script(src='/javascripts/app.js')

  body
    block content
    
    script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
