/* devanagari */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local('Kalam Bold'), local('Kalam-Bold'), url(http://fonts.gstatic.com/s/kalam/v5/6uL4LfJ9gl9nAvHpVEHMbRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kalam/v5/lJM2c5XXyjolE7oETGlWYxkAz4rYn47Zy2rvigWQf6w.woff) format('woff');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local('Kalam Bold'), local('Kalam-Bold'), url(http://fonts.gstatic.com/s/kalam/v5/VeSVC2zXWQiG_N4AAmtVwRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kalam/v5/zfOPv8MxGQMlrwmYT3gz-hkAz4rYn47Zy2rvigWQf6w.woff) format('woff');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local('Kalam Bold'), local('Kalam-Bold'), url(http://fonts.gstatic.com/s/kalam/v5/V6yS6HmuVV3o39pJxMtJCxkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kalam/v5/Qn-5-6XRdB09P8vdnMkOExkAz4rYn47Zy2rvigWQf6w.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v9/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v9/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


html { height: 100% }

body { height: 100%; margin: 0; padding: 0; font-family: 'Open Sans'; }

#map-canvas {
  height: 100%;
  width: 60%;
  float: left;
}

#allsongs {
  height: 100%;
  width: 40%;
  float: right;
  background: #111111;
}

#footer {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
}

.row {
  display: table;
  width: 100%;
}

.user {
  width: 20%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  float: none;
}

img.profilePic {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

a.username {
  display: block;
  color: #DDDDDD;
}

a.infowindowUsername {
  display: block;
  color: #0074D9;
}


#logo {
  vertical-align: middle;
  font-size: 1em;
  /* width: 200px; */
  margin: 0 50px;
  display: inline-block;
}

#logo:before {
  content: "Singular";
  font-family: 'Kalam', cursive;
  color: #333333;
  font-size: 2.1em;
}

#tagline {
  color: #333;
  display: inline-block;
  margin-right: 50px;
}

#social {
  min-width: 200px;
  display: inline-block;
  float: right;
}

.share {
  display: inline-block;
  color: #FFF;
  font-size: 32px;
  padding-top: 7px;
  height: 50px;
  vertical-align: middle;
  width: 70px;
  opacity: 1;
  text-align: center;
}

.share:hover {
  opacity: 0.7;
}

.sbg-facebook {
  background: #3971B6;
}

.sbg-twitter {
  background: #A0D6E2;
}

.sbg-github {
  background: #333333;
}

.sbg-help {
  background-color: #3D9970;
}
